.jumbotron {
    background-image: url("https://java.codeup.com/examples/bootstrap/pizza.png");
    background-size: cover;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

h1 {
    background-color: white;
    opacity: .7;
    font-size: 3em;
}

.container {

}