* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Work Sans', sans-serif;*/
.nav-bar{
    background-color: #C1C1C1;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    justify-content: space-between;
    /*flex-wrap: wrap;*/
    flex-grow: 1;
    width: 100%;
}

.nav-link-left{
    flex-grow: 1;
    /*margin-left: auto;*/
}

.nav-link-right{
    flex-grow: 1;
    text-align: right;
    /*margin-right: auto;*/
}

.logo{
    /*display: flex;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    padding-top: .2em;
    padding-bottom: .2em;
    text-align: center;
    /*flex-grow: 1;*/
    /*justify-content: center;*/
    /*align-self: center;*/
    /*flex-basis: 300px;*/
    /*margin: 0 auto;*/
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

}

.nav-links{
    display: flex;
    align-items: center;


}

.alignR{
    justify-content: flex-end;
}

ul .alignL{

}

li{
    display: block;
    /*padding: 1em;*/
    text-decoration: none;
    /*margin-right: 2em;*/
}

a{
    display: inline-block;
    text-decoration: none;
    /*color: blue;*/
}

a:hover{
    color: blue;
}

li a{
    padding: 1em;
}

li a:hover{
    /*background-clip: padding-box;*/
    /*color: blue;*/
    background-color: white;
}

.button-logos{
    /*image-resolution: 5dppx;*/

}