* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Work Sans', sans-serif;*/
.nav-bar{
    background-color: #C1C1C1;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    justify-content: space-between;
    /*flex-wrap: wrap;*/
    flex-grow: 1;
    width: 100%;
}

.nav-link-left{
    flex-grow: 1;
    /*margin-left: auto;*/
}

.nav-link-right{
    flex-grow: 1;
    text-align: right;
    /*margin-right: auto;*/
}

.logo{
    /*display: flex;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    padding-top: .2em;
    padding-bottom: .2em;
    text-align: center;
    /*flex-grow: 1;*/
    /*justify-content: center;*/
    /*align-self: center;*/
    /*flex-basis: 300px;*/
    /*margin: 0 auto;*/
}

a{

}

.button-logos{
    /*image-resolution: 5dppx;*/
}