/* style sheet*/

:root {
    --image-1: url("../img/exercise-img-1.jpeg");
    --image-2: url("../img/exercise-img-2.jpeg");
    --image-3: url("../img/exercise-img-3.jpeg");
    --image-4: url("../img/exercise-img-4.jpeg");

}

body {
    font-size: 2em;
}

.fancy-header {
    color: firebrick; /* single line comment */
    text-decoration: underline;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    width: fit-content;

    -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);

}

h2 {
    color: darkblue;
    text-decoration: underline;
    background-color: cyan;
    width: fit-content;
    border-radius: 10px;

    -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
}

.sub-header {
    text-align: center;

}

body {
    background-color: aqua;
    background-image: url("../img/bg_img4_pattern.jpg");
    background-repeat: repeat;
    background-size: 1800px;
    background-position: center;
    font-family: 'Turret Road', cursive;
}

.backGround {
    background-image: url("../img/bg_img4_pattern.jpg");
    background-repeat: repeat;
    background-size: 1800px;
    background-position: center;
}

.backGround2 {
    background-repeat: repeat;
    background-size: 1800px;
    background-position: center;
}

ol {
    list-style: upper-roman;
}

ul {
    list-style: square;
}

.table-messer {
    border-style: groove;

}

.no-border {
    border-style: none;
}

td {
    border-style: dashed;
    font-size: 1em;
    padding: .5em;
    text-align: center;
}

th {
    font-size: 1.5em;
    padding: .5em;
    text-align: center;
    background-color: goldenrod;

}

a:link {
    color: darkblue;
}

a:visited {
    color: darkgreen;
}

a:hover {
    color: darkblue;
}

a:active {
    color: aqua;
}

hr {
    color: black;
    background-color: black;
    height: 5px;
}

.img-fixer {
    width: 300px;
    height: 300px;
    border: .5em solid white;
    border-radius: 10px;

}

.btn {
    size: 1em;
    border-radius: 10px;
    font-size: .5em;
}

.collapsible {
    color: darkblue;
    text-decoration: underline;
    background-color: cyan;
    width: fit-content;
    border-radius: 10px;

    -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);

    /*background-color: #eee;*/
    /*color: #444;*/
    cursor: pointer;
    /*padding: 18px;*/
    /*width: 100%;*/
    /*border: none;*/
    /*text-align: left;*/
    /*outline: none;*/
    /*font-size: 15px;*/
}


.active, .collapsible:hover {
    background-color: #ccc;
}


.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
