/* style sheet*/
body{
    font-size: 2em;
}

.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: red;
    text-decoration: underline;
}

.sub-header{
    text-align: center;
}

body {
    /*background: aqua;*/
    background-image: url("../img/bg_img4_pattern.jpg");
    background-repeat: repeat;
    background-size: 1800px;
    background-position: center;
    font-family: 'Turret Road', cursive;
}

ol {
    list-style: upper-roman;
}
ul{
    list-style: square;
}

.table-messer{
    /*border-style: groove;*/
}

td{
    border-style: dashed;
    font-size: 1em;
    padding: .5em;
}

th{
    font-size: 1.5em;
    padding: .5em;
}

a:link {
    color: darkblue;
}
a:visited {
    color: coral;
}
a:hover{
    color: darkblue;
}
a:active{
    color: aqua;
}

hr{
    color: black;
    background-color: black;
    height: 5px;
}

.img-fixer{
    width: 150px;
    height: 150px;
    border: .5em solid white;
    border-radius: 10px;
}