/* style sheet*/

.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: red;
    text-decoration: underline;
}

body {
    /*background: aqua;*/
    background-image: url("../img/backgroundImg.jpeg");
    /*background-repeat: repeat;*/
    background-size: 2000px;*
    background-position: center;
}

ol {
    list-style: square;
}
ul{
    list-style: inside;
}